# Challenge 1 - Tic Tac Toe

In this lab you will perform deep learning analysis on a dataset of playing [Tic Tac Toe](https://en.wikipedia.org/wiki/Tic-tac-toe).

There are 9 grids in Tic Tac Toe that are coded as the following picture shows:

![Tic Tac Toe Grids](tttboard.jpg)

In the first 9 columns of the dataset you can find which marks (`x` or `o`) exist in the grids. If there is no mark in a certain grid, it is labeled as `b`. The last column is `class` which tells you whether Player X (who always moves first in Tic Tac Toe) wins in this configuration. Note that when `class` has the value `False`, it means either Player O wins the game or it ends up as a draw.

Follow the steps suggested below to conduct a neural network analysis using Tensorflow and Keras. You will build a deep learning model to predict whether Player X wins the game or not.

## Step 1: Data Engineering

This dataset is almost in the ready-to-use state so you do not need to worry about missing values and so on. Still, some simple data engineering is needed.

1. Read `tic-tac-toe.csv` into a dataframe.
1. Inspect the dataset. Determine if the dataset is reliable by eyeballing the data.
1. Convert the categorical values to numeric in all columns.
1. Separate the inputs and output.
1. Normalize the input data.

In [1]:
import pandas as pd
import numpy as np

In [2]:

data = pd.read_csv('tic-tac-toe.csv')
data.head()

  TL TM TR ML MM MR BL BM BR  class
0  x  x  x  x  o  o  x  o  o   True
1  x  x  x  x  o  o  o  x  o   True
2  x  x  x  x  o  o  o  o  x   True
3  x  x  x  x  o  o  o  b  b   True
4  x  x  x  x  o  o  b  o  b   True

In [3]:
data.shape

(958, 10)

In [5]:
data.isnull().sum()

TL       0
TM       0
TR       0
ML       0
MM       0
MR       0
BL       0
BM       0
BR       0
class    0
dtype: int64

In [8]:
data.dtypes

TL       object
TM       object
TR       object
ML       object
MM       object
MR       object
BL       object
BM       object
BR       object
class      bool
dtype: object

In [10]:
# print value counts for all the columns in the dataframe in a readable way

for col in data.columns:
    print(data[col].value_counts(), "\n")

x    418
o    335
b    205
Name: TL, dtype: int64

x    378
o    330
b    250
Name: TM, dtype: int64

x    418
o    335
b    205
Name: TR, dtype: int64

x    378
o    330
b    250
Name: ML, dtype: int64

x    458
o    340
b    160
Name: MM, dtype: int64

x    378
o    330
b    250
Name: MR, dtype: int64

x    418
o    335
b    205
Name: BL, dtype: int64

x    378
o    330
b    250
Name: BM, dtype: int64

x    418
o    335
b    205
Name: BR, dtype: int64

True     626
False    332
Name: class, dtype: int64

In [12]:
# turn boolean in class into numeric values
# another method: 

data["class"] = np.where(data["class"], 1, 0)

# now "True" is 1 and "False" is 0
data.head()

  TL TM TR ML MM MR BL BM BR  class
0  x  x  x  x  o  o  x  o  o      1
1  x  x  x  x  o  o  o  x  o      1
2  x  x  x  x  o  o  o  o  x      1
3  x  x  x  x  o  o  o  b  b      1
4  x  x  x  x  o  o  b  o  b      1

In [14]:
# do the same of all the other columns
# np.where() method
# 'x' is now 1 and 'o' is now -1
# 'b' is now 0

for col in data.columns:
    if(col != "class"):
        data[col] = np.where(data[col]=="x", 1,
                            np.where(data[col]=="o", -1, 0))
    
data.head()

   TL  TM  TR  ML  MM  MR  BL  BM  BR  class
0   1   1   1   1  -1  -1   1  -1  -1      1
1   1   1   1   1  -1  -1  -1   1  -1      1
2   1   1   1   1  -1  -1  -1  -1   1      1
3   1   1   1   1  -1  -1  -1   0   0      1
4   1   1   1   1  -1  -1   0  -1   0      1

In [15]:
data.dtypes

TL       int64
TM       int64
TR       int64
ML       int64
MM       int64
MR       int64
BL       int64
BM       int64
BR       int64
class    int64
dtype: object

In [16]:
# check value counts again

for col in data.columns:
    print(data[col].value_counts(), "\n")

 1    418
-1    335
 0    205
Name: TL, dtype: int64

 1    378
-1    330
 0    250
Name: TM, dtype: int64

 1    418
-1    335
 0    205
Name: TR, dtype: int64

 1    378
-1    330
 0    250
Name: ML, dtype: int64

 1    458
-1    340
 0    160
Name: MM, dtype: int64

 1    378
-1    330
 0    250
Name: MR, dtype: int64

 1    418
-1    335
 0    205
Name: BL, dtype: int64

 1    378
-1    330
 0    250
Name: BM, dtype: int64

 1    418
-1    335
 0    205
Name: BR, dtype: int64

1    626
0    332
Name: class, dtype: int64

In [35]:
# Separate inputs and output
# Pass only arrays of values

# X = data.drop('class', axis=1)
# y = data['class']

X = data.drop('class', axis=1).values
y = data['class'].values

## Step 2: Build Neural Network

To build the neural network, you can refer to your own codes you wrote while following the [Deep Learning with Python, TensorFlow, and Keras tutorial](https://www.youtube.com/watch?v=wQ8BIBpya2k) in the lesson. It's pretty similar to what you will be doing in this lab.

1. Split the training and test data.
1. Create a `Sequential` model.
1. Add several layers to your model. Make sure you use ReLU as the activation function for the middle layers. Use Softmax for the output layer because each output has a single lable and all the label probabilities add up to 1.
1. Compile the model using `adam` as the optimizer and `sparse_categorical_crossentropy` as the loss function. For metrics, use `accuracy` for now.
1. Fit the training data.
1. Evaluate your neural network model with the test data.
1. Save your model as `tic-tac-toe.model`.

In [36]:
# Split the training and test data

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [37]:
from keras.models import Sequential
from keras.layers import Dense
from keras.utils import to_categorical

model = Sequential([
    Dense(64, activation='relu', input_shape=(9,)),
    Dense(64, activation='relu'),
    Dense(2, activation='softmax')])

In [38]:
model.compile(
    optimizer='adam',
    loss='sparse_categorical_crossentropy',
    metrics=['accuracy'])

In [39]:
history = model.fit(X_train, y_train, epochs=5, batch_size=32)

Epoch 1/5
766/766 [==============================] - 1s 764us/step - loss: 0.6232 - accuracy: 0.6775
Epoch 2/5
766/766 [==============================] - 0s 114us/step - loss: 0.5398 - accuracy: 0.7441
Epoch 3/5
766/766 [==============================] - 0s 91us/step - loss: 0.4977 - accuracy: 0.7637
Epoch 4/5
766/766 [==============================] - 0s 116us/step - loss: 0.4617 - accuracy: 0.7820
Epoch 5/5
766/766 [==============================] - 0s 116us/step - loss: 0.4213 - accuracy: 0.8225

In [40]:
model.evaluate(X_test, y_test)

192/192 [==============================] - 0s 506us/step

[0.4149470975001653, 0.8229166865348816]

In [41]:
# save the model

model.save_weights('tic-tac-toe.model')

## Step 3: Make Predictions

Now load your saved model and use it to make predictions on a few random rows in the test dataset. Check if the predictions are correct.

In [42]:

model.load_weights('tic-tac-toe.model')

_, test_rows, _, test_labels = train_test_split(X_test, y_test, test_size=0.2, random_state=42)

y_pred = model.predict(test_rows)

print(round((np.argmax(y_pred, axis=1)==test_labels).sum() * 100 / test_labels.shape[0], 2),'%')

87.18 %

## Step 4: Improve Your Model

Did your model achieve low loss (<0.1) and high accuracy (>0.95)? If not, try to improve your model.

But how? There are so many things you can play with in Tensorflow and in the next challenge you'll learn about these things. But in this challenge, let's just do a few things to see if they will help.

* Add more layers to your model. If the data are complex you need more layers. But don't use more layers than you need. If adding more layers does not improve the model performance you don't need additional layers.
* Adjust the learning rate when you compile the model. This means you will create a custom `tf.keras.optimizers.Adam` instance where you specify the learning rate you want. Then pass the instance to `model.compile` as the optimizer.
    * `tf.keras.optimizers.Adam` [reference](https://www.tensorflow.org/api_docs/python/tf/keras/optimizers/Adam).
    * Don't worry if you don't understand what the learning rate does. You'll learn about it in the next challenge.
* Adjust the number of epochs when you fit the training data to the model. Your model performance continues to improve as you train more epochs. But eventually it will reach the ceiling and the performance will stay the same.

In [48]:

from keras import optimizers as op

n_layers = [2,3,4,5]

learning_rate = [0.0001, 0.001, 0.01]

n_epochs = [6,8,10]

for nl in n_layers:
    for lr in learning_rate:
        for ne in n_epochs:
    
            # initialize optimizer
            adam_opt = op.SGD(lr=0.01)
            
            # define layers
            layers = [Dense(64, activation='relu') for i in range(nl - 1)]
            layers.append(Dense(2, activation='softmax'))
            
            # create model with layers
            model = Sequential(layers)
            
            # compile model with optimizer
            model.compile(
                    optimizer=adam_opt,
                    loss='sparse_categorical_crossentropy',
                    metrics=['accuracy'])
            
            # fit model with epochs
            history = model.fit(X_train, y_train, epochs=ne, batch_size=32, verbose=0)
            
            # print results
            print(nl, "layers;", lr, "learning rate;", ne, "epochs;", model.evaluate(X_test, y_test), "\n")

192/192 [==============================] - 1s 3ms/step
2 layers; 0.0001 learning rate; 6 epochs; [0.5882300734519958, 0.6927083134651184]

192/192 [==============================] - 0s 2ms/step
2 layers; 0.0001 learning rate; 8 epochs; [0.6038756966590881, 0.7291666865348816]

192/192 [==============================] - 0s 2ms/step
2 layers; 0.0001 learning rate; 10 epochs; [0.5836875935395559, 0.7447916865348816]

192/192 [==============================] - 0s 2ms/step
2 layers; 0.001 learning rate; 6 epochs; [0.5960065921147665, 0.6875]

192/192 [==============================] - 0s 2ms/step
2 layers; 0.001 learning rate; 8 epochs; [0.5889786630868912, 0.6927083134651184]

192/192 [==============================] - 0s 2ms/step
2 layers; 0.001 learning rate; 10 epochs; [0.5797113378842672, 0.7291666865348816]

192/192 [==============================] - 0s 2ms/step
2 layers; 0.01 learning rate; 6 epochs; [0.5916754007339478, 0.7395833134651184]

192/192 [==============================] - 0s 2ms/step
2 layers; 0.01 learning rate; 8 epochs; [0.5951681236426035, 0.703125]

192/192 [==============================] - 0s 2ms/step
2 layers; 0.01 learning rate; 10 epochs; [0.5815596381823221, 0.7395833134651184]

192/192 [==============================] - 0s 3ms/step
3 layers; 0.0001 learning rate; 6 epochs; [0.5917025705178579, 0.6979166865348816]

192/192 [==============================] - 0s 3ms/step
3 layers; 0.0001 learning rate; 8 epochs; [0.5955702463785807, 0.6927083134651184]

192/192 [==============================] - 0s 3ms/step
3 layers; 0.0001 learning rate; 10 epochs; [0.5581065913041433, 0.7239583134651184]

192/192 [==============================] - 0s 2ms/step
3 layers; 0.001 learning rate; 6 epochs; [0.6025189856688181, 0.6927083134651184]

192/192 [==============================] - 0s 3ms/step
3 layers; 0.001 learning rate; 8 epochs; [0.5807664394378662, 0.6875]

192/192 [==============================] - 1s 3ms/step
3 layers; 0.001 learning rate; 10 epochs; [0.5705332656701406, 0.7395833134651184]

192/192 [==============================] - 1s 3ms/step
3 layers; 0.01 learning rate; 6 epochs; [0.6014077365398407, 0.6614583134651184]

192/192 [==============================] - 1s 3ms/step
3 layers; 0.01 learning rate; 8 epochs; [0.5647442440191904, 0.7083333134651184]

192/192 [==============================] - 1s 3ms/step
3 layers; 0.01 learning rate; 10 epochs; [0.5693403085072836, 0.7239583134651184]

192/192 [==============================] - 1s 3ms/step
4 layers; 0.0001 learning rate; 6 epochs; [0.6196440855662028, 0.6510416865348816]

192/192 [==============================] - 1s 3ms/step
4 layers; 0.0001 learning rate; 8 epochs; [0.6024164060751597, 0.6927083134651184]

192/192 [==============================] - 1s 3ms/step
4 layers; 0.0001 learning rate; 10 epochs; [0.5663572549819946, 0.703125]

192/192 [==============================] - 1s 3ms/step
4 layers; 0.001 learning rate; 6 epochs; [0.5773806472619375, 0.7083333134651184]

192/192 [==============================] - 1s 3ms/step
4 layers; 0.001 learning rate; 8 epochs; [0.5967416763305664, 0.65625]

192/192 [==============================] - 1s 3ms/step
4 layers; 0.001 learning rate; 10 epochs; [0.5899525980154673, 0.6510416865348816]

192/192 [==============================] - 1s 3ms/step
4 layers; 0.01 learning rate; 6 epochs; [0.6040208141009012, 0.6666666865348816]

192/192 [==============================] - 1s 5ms/step
4 layers; 0.01 learning rate; 8 epochs; [0.5946759680906931, 0.671875]

192/192 [==============================] - 1s 3ms/step
4 layers; 0.01 learning rate; 10 epochs; [0.5864456097284952, 0.6927083134651184]

192/192 [==============================] - 1s 3ms/step
5 layers; 0.0001 learning rate; 6 epochs; [0.6122024158636729, 0.6510416865348816]

192/192 [==============================] - 1s 3ms/step
5 layers; 0.0001 learning rate; 8 epochs; [0.61072638630867, 0.6510416865348816]

192/192 [==============================] - 1s 3ms/step
5 layers; 0.0001 learning rate; 10 epochs; [0.6052527825037638, 0.671875]

192/192 [==============================] - 1s 3ms/step
5 layers; 0.001 learning rate; 6 epochs; [0.6322441597779592, 0.6510416865348816]

192/192 [==============================] - 1s 3ms/step
5 layers; 0.001 learning rate; 8 epochs; [0.5726757148901621, 0.6875]

192/192 [==============================] - 1s 4ms/step
5 layers; 0.001 learning rate; 10 epochs; [0.6185800135135651, 0.6510416865348816]

192/192 [==============================] - 1s 3ms/step
5 layers; 0.01 learning rate; 6 epochs; [0.6193112730979919, 0.6510416865348816]

192/192 [==============================] - 1s 3ms/step
5 layers; 0.01 learning rate; 8 epochs; [0.6069303750991821, 0.6510416865348816]

192/192 [==============================] - 1s 3ms/step
5 layers; 0.01 learning rate; 10 epochs; [0.5859572688738505, 0.6510416865348816]

**Which approach(es) did you find helpful to improve your model performance?**

In [ ]:


'''
There is no correlation between adding more epochs and improvements to performance.

Overfitting?

The model accuracy gets worse after a point.

'''