# Challenge 1 - Tic Tac Toe

In this lab you will perform deep learning analysis on a dataset of playing [Tic Tac Toe](https://en.wikipedia.org/wiki/Tic-tac-toe).

There are 9 grids in Tic Tac Toe that are coded as the following picture shows:

![Tic Tac Toe Grids](tttboard.jpg)

In the first 9 columns of the dataset you can find which marks (`x` or `o`) exist in the grids. If there is no mark in a certain grid, it is labeled as `b`. The last column is `class` which tells you whether Player X (who always moves first in Tic Tac Toe) wins in this configuration. Note that when `class` has the value `False`, it means either Player O wins the game or it ends up as a draw.

Follow the steps suggested below to conduct a neural network analysis using Tensorflow and Keras. You will build a deep learning model to predict whether Player X wins the game or not.

## Step 1: Data Engineering

This dataset is almost in the ready-to-use state so you do not need to worry about missing values and so on. Still, some simple data engineering is needed.

1. Read `tic-tac-toe.csv` into a dataframe.
1. Inspect the dataset. Determine if the dataset is reliable by eyeballing the data.
1. Convert the categorical values to numeric in all columns.
1. Separate the inputs and output.
1. Normalize the input data.

In [10]:
# your code here
import pandas as pd

In [11]:
df=pd.read_csv('tic-tac-toe.csv')
df

    TL TM TR ML MM MR BL BM BR  class
0    x  x  x  x  o  o  x  o  o   True
1    x  x  x  x  o  o  o  x  o   True
2    x  x  x  x  o  o  o  o  x   True
3    x  x  x  x  o  o  o  b  b   True
4    x  x  x  x  o  o  b  o  b   True
..  .. .. .. .. .. .. .. .. ..    ...
953  o  x  x  x  o  o  o  x  x  False
954  o  x  o  x  x  o  x  o  x  False
955  o  x  o  x  o  x  x  o  x  False
956  o  x  o  o  x  x  x  o  x  False
957  o  o  x  x  x  o  o  x  x  False

[958 rows x 10 columns]

In [12]:
df.replace('x', 1, inplace=True)
df.replace('o', -1, inplace=True)
df.replace('b', 0, inplace=True)
df

     TL  TM  TR  ML  MM  MR  BL  BM  BR  class
0     1   1   1   1  -1  -1   1  -1  -1   True
1     1   1   1   1  -1  -1  -1   1  -1   True
2     1   1   1   1  -1  -1  -1  -1   1   True
3     1   1   1   1  -1  -1  -1   0   0   True
4     1   1   1   1  -1  -1   0  -1   0   True
..   ..  ..  ..  ..  ..  ..  ..  ..  ..    ...
953  -1   1   1   1  -1  -1  -1   1   1  False
954  -1   1  -1   1   1  -1   1  -1   1  False
955  -1   1  -1   1  -1   1   1  -1   1  False
956  -1   1  -1  -1   1   1   1  -1   1  False
957  -1  -1   1   1   1  -1  -1   1   1  False

[958 rows x 10 columns]

In [13]:
import numpy as np
outputs= np.array(df['class'])
inputs= np.array(df.drop(labels='class', axis=1))

## Step 2: Build Neural Network

To build the neural network, you can refer to your own codes you wrote while following the [Deep Learning with Python, TensorFlow, and Keras tutorial](https://www.youtube.com/watch?v=wQ8BIBpya2k) in the lesson. It's pretty similar to what you will be doing in this lab.

1. Split the training and test data.
1. Create a `Sequential` model.
1. Add several layers to your model. Make sure you use ReLU as the activation function for the middle layers. Use Softmax for the output layer because each output has a single lable and all the label probabilities add up to 1.
1. Compile the model using `adam` as the optimizer and `sparse_categorical_crossentropy` as the loss function. For metrics, use `accuracy` for now.
1. Fit the training data.
1. Evaluate your neural network model with the test data.
1. Save your model as `tic-tac-toe.model`.

In [16]:
# your code here
import keras
import tensorflow as tf
from keras.models import Sequential
from keras.layers import Dense
from tensorflow.keras.utils import to_categorical
from sklearn.model_selection import train_test_split

In [17]:
X_train, X_test, y_train, y_test = train_test_split(inputs, outputs, test_size = 0.2, random_state=0)
to_categorical(y_train)

array([[0., 1.],
       [0., 1.],
       [0., 1.],
       ...,
       [1., 0.],
       [0., 1.],
       [1., 0.]], dtype=float32)

In [18]:
model = Sequential([
  Dense(15, activation='relu',name="layer1"),
  Dense(15, activation='relu',name="layer2"),
  Dense(2, activation='softmax'),   
])

In [19]:
model.compile(
  optimizer='adam',
  loss='sparse_categorical_crossentropy',
  metrics=['accuracy'])

In [20]:
history = model.fit(
  X_train,
  y_train, 
  epochs=40,        
  batch_size=50,
)

Epoch 1/40
16/16 [==============================] - 1s 2ms/step - loss: 0.6606 - accuracy: 0.6371
Epoch 2/40
16/16 [==============================] - 0s 5ms/step - loss: 0.6199 - accuracy: 0.6958
Epoch 3/40
16/16 [==============================] - 0s 3ms/step - loss: 0.5891 - accuracy: 0.7128
Epoch 4/40
16/16 [==============================] - 0s 2ms/step - loss: 0.5669 - accuracy: 0.7258
Epoch 5/40
16/16 [==============================] - 0s 2ms/step - loss: 0.5494 - accuracy: 0.7337
Epoch 6/40
16/16 [==============================] - 0s 2ms/step - loss: 0.5359 - accuracy: 0.7493
Epoch 7/40
16/16 [==============================] - 0s 2ms/step - loss: 0.5237 - accuracy: 0.7585
Epoch 8/40
16/16 [==============================] - 0s 2ms/step - loss: 0.5121 - accuracy: 0.7611
Epoch 9/40
16/16 [==============================] - 0s 2ms/step - loss: 0.5011 - accuracy: 0.7663
Epoch 10/40
16/16 [==============================] - 0s 2ms/step - loss: 0.4909 - accuracy: 0.7742
Epoch 11/40
16/16 [==============================] - 0s 2ms/step - loss: 0.4794 - accuracy: 0.7794
Epoch 12/40
16/16 [==============================] - 0s 2ms/step - loss: 0.4678 - accuracy: 0.7859
Epoch 13/40
16/16 [==============================] - 0s 2ms/step - loss: 0.4566 - accuracy: 0.7937
Epoch 14/40
16/16 [==============================] - 0s 2ms/step - loss: 0.4448 - accuracy: 0.8029
Epoch 15/40
16/16 [==============================] - 0s 2ms/step - loss: 0.4325 - accuracy: 0.8094
Epoch 16/40
16/16 [==============================] - 0s 2ms/step - loss: 0.4188 - accuracy: 0.8172
Epoch 17/40
16/16 [==============================] - 0s 2ms/step - loss: 0.4056 - accuracy: 0.8251
Epoch 18/40
16/16 [==============================] - 0s 2ms/step - loss: 0.3908 - accuracy: 0.8342
Epoch 19/40
16/16 [==============================] - 0s 2ms/step - loss: 0.3768 - accuracy: 0.8433
Epoch 20/40
16/16 [==============================] - 0s 2ms/step - loss: 0.3623 - accuracy: 0.8577
Epoch 21/40
16/16 [==============================] - 0s 2ms/step - loss: 0.3464 - accuracy: 0.8773
Epoch 22/40
16/16 [==============================] - 0s 2ms/step - loss: 0.3313 - accuracy: 0.8877
Epoch 23/40
16/16 [==============================] - 0s 2ms/step - loss: 0.3155 - accuracy: 0.8995
Epoch 24/40
16/16 [==============================] - 0s 2ms/step - loss: 0.2997 - accuracy: 0.9138
Epoch 25/40
16/16 [==============================] - 0s 2ms/step - loss: 0.2830 - accuracy: 0.9204
Epoch 26/40
16/16 [==============================] - 0s 2ms/step - loss: 0.2676 - accuracy: 0.9295
Epoch 27/40
16/16 [==============================] - 0s 2ms/step - loss: 0.2495 - accuracy: 0.9386
Epoch 28/40
16/16 [==============================] - 0s 2ms/step - loss: 0.2338 - accuracy: 0.9452
Epoch 29/40
16/16 [==============================] - 0s 2ms/step - loss: 0.2190 - accuracy: 0.9543
Epoch 30/40
16/16 [==============================] - 0s 2ms/step - loss: 0.2028 - accuracy: 0.9608
Epoch 31/40
16/16 [==============================] - 0s 2ms/step - loss: 0.1878 - accuracy: 0.9674
Epoch 32/40
16/16 [==============================] - 0s 2ms/step - loss: 0.1737 - accuracy: 0.9739
Epoch 33/40
16/16 [==============================] - 0s 2ms/step - loss: 0.1611 - accuracy: 0.9752
Epoch 34/40
16/16 [==============================] - 0s 2ms/step - loss: 0.1486 - accuracy: 0.9804
Epoch 35/40
16/16 [==============================] - 0s 2ms/step - loss: 0.1375 - accuracy: 0.9830
Epoch 36/40
16/16 [==============================] - 0s 2ms/step - loss: 0.1271 - accuracy: 0.9856
Epoch 37/40
16/16 [==============================] - 0s 2ms/step - loss: 0.1184 - accuracy: 0.9869
Epoch 38/40
16/16 [==============================] - 0s 2ms/step - loss: 0.1098 - accuracy: 0.9896
Epoch 39/40
16/16 [==============================] - 0s 2ms/step - loss: 0.1022 - accuracy: 0.9896
Epoch 40/40
16/16 [==============================] - 0s 2ms/step - loss: 0.0957 - accuracy: 0.9896

In [21]:
model.evaluate(
  X_test,
  y_test
)

6/6 [==============================] - 0s 2ms/step - loss: 0.1747 - accuracy: 0.9740

[0.17473216354846954, 0.9739583134651184]

In [22]:
# Save the model to disk.
model.save_weights('tic-tac-toe.model')

## Step 3: Make Predictions

Now load your saved model and use it to make predictions on a few random rows in the test dataset. Check if the predictions are correct.

In [23]:
# your code here
model.load_weights('tic-tac-toe.model')

# Predict
predictions = model.predict(X_test[:10])

# Print predictions
print(np.argmax(predictions, axis=1))

# Check our predictions
print(y_test[:10])

[0 1 1 1 1 0 1 1 0 1]
[False  True  True  True  True False  True  True False  True]

## Step 4: Improve Your Model

Did your model achieve low loss (<0.1) and high accuracy (>0.95)? If not, try to improve your model.

But how? There are so many things you can play with in Tensorflow and in the next challenge you'll learn about these things. But in this challenge, let's just do a few things to see if they will help.

* Add more layers to your model. If the data are complex you need more layers. But don't use more layers than you need. If adding more layers does not improve the model performance you don't need additional layers.
* Adjust the learning rate when you compile the model. This means you will create a custom `tf.keras.optimizers.Adam` instance where you specify the learning rate you want. Then pass the instance to `model.compile` as the optimizer.
    * `tf.keras.optimizers.Adam` [reference](https://www.tensorflow.org/api_docs/python/tf/keras/optimizers/Adam).
    * Don't worry if you don't understand what the learning rate does. You'll learn about it in the next challenge.
* Adjust the number of epochs when you fit the training data to the model. Your model performance continues to improve as you train more epochs. But eventually it will reach the ceiling and the performance will stay the same.

In [26]:
model = tf.keras.models.Sequential()

model.add(tf.keras.layers.Flatten())
model.add(tf.keras.layers.Dense(128, activation = tf.nn.relu))
model.add(tf.keras.layers.Dense(128, activation = tf.nn.relu))
model.add(tf.keras.layers.Dense(128, activation = tf.nn.relu))
model.add(tf.keras.layers.Dense(32, activation = tf.nn.relu))
model.add(tf.keras.layers.Dense(10, activation = tf.nn.softmax))

opti = tf.keras.optimizers.Adam(
    learning_rate=0.001,
    beta_1=0.9,
    beta_2=0.999,
    epsilon=1e-07,
    amsgrad=False,
    name='Adam')

model.compile(optimizer = opti, loss = "sparse_categorical_crossentropy", metrics = ["accuracy"])

model.fit(X_train, y_train, epochs = 4)

val_loss, val_acc = model.evaluate(X_test, y_test)

Epoch 1/4
24/24 [==============================] - 1s 3ms/step - loss: 1.2335 - accuracy: 0.6606
Epoch 2/4
24/24 [==============================] - 0s 3ms/step - loss: 0.5117 - accuracy: 0.7676
Epoch 3/4
24/24 [==============================] - 0s 3ms/step - loss: 0.4020 - accuracy: 0.8068
Epoch 4/4
24/24 [==============================] - 0s 3ms/step - loss: 0.2606 - accuracy: 0.9178
6/6 [==============================] - 0s 2ms/step - loss: 0.2146 - accuracy: 0.9479

**Which approach(es) did you find helpful to improve your model performance?**

In [ ]:
# your answer here